<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" stdoutLogEnabled="true">
        <handlerSettings>
          <handlerSetting name="debugLevel" value="file" />
          <handlerSetting name="debugFile" value="C:\aspNetCoreLogs\ancm_Auth.log" />
        </handlerSettings>
       
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>