
@{
    ViewData["Title"] = "Cookie";
}

<h1>About Cookies</h1>

<p>Cookies are used to pass informations between pages. Like when you authenticate yourself on a website, a cookie is generate to pass your login session between pages.</p>

