<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" stdoutLogEnabled="false">
        <environmentVariables>
          <environmentVariable name="Google:ApiKey" value="AIzaSyBB-VLshfTmwKkOrcKlIZiBNdTVO2kLAGM" />
          <environmentVariable name="Authentication:Google:ClientSecret" value="_74tZqRHDEdPvyHpEN15yMnw" />
          <environmentVariable name="ConnectionStrings:DefaultConnection" value="Data Source=localhost;Initial Catalog=Kazo;Integrated Security=True" />
          <environmentVariable name="Authentication:Google:ClientId" value="309341640640-8fdmb102odo4kt7m0si4fc67dsflia1q.apps.googleusercontent.com" />
          <environmentVariable name="Google:OurOpenId:ClientSecret" value="jIm5a5C9uBfhE7PoJbuz" />
          <environmentVariable name="Google:OurOpenId:ClientId" value="AIzaSyBB-VLshfTmwKkOrcKlIZiBNdTVO2kLAGM.api.kazo.ca" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44348" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="Security:CertificateCN" value="CN=kazo.ca" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>