<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments="exec &quot;d:\SmartThermostat\WinIot\ST.WinIot.App\Web\Angular\bin\Debug\netcoreapp2.2\ST.Web.Angular.dll&quot;" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
          <environmentVariable name="Google:ApiKey" value="AIzaSyBB-VLshfTmwKkOrcKlIZiBNdTVO2kLAGM" />
          <environmentVariable name="Authentication:Google:ClientSecret" value="_74tZqRHDEdPvyHpEN15yMnw" />
          <environmentVariable name="ConnectionStrings:DefaultConnection" value="Data Source=localhost;Initial Catalog=Kazo;Integrated Security=True" />
          <environmentVariable name="Google:GoogleClientId" value="309341640640-5h7l6ssroirkoj05si2o1h0dqp8s6j5m.apps.googleusercontent.com" />
          <environmentVariable name="Google:OurOpenId:ClientSecret" value="jIm5a5C9uBfhE7PoJbuz" />
          <environmentVariable name="Security:CertificateCN" value="CN=kazo.ca" />
          <environmentVariable name="Google:OurOpenId:ClientId" value="AIzaSyBB-VLshfTmwKkOrcKlIZiBNdTVO2kLAGM.api.kazo.ca" />
          <environmentVariable name="Authentication:Google:ClientId" value="309341640640-8fdmb102odo4kt7m0si4fc67dsflia1q.apps.googleusercontent.com" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="AngularConfig:AuthClientId" value="jajksfd987Hhsd76asdkljaJASdf6876asd7a6sdAsd876asdASD568fsg" />
          <environmentVariable name="Google:GoogleProjectId" value="smarthomepihub" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>