<!-- Form doc: https://phpenthusiast.com/blog/angular-form-ngform-and-two-ways-data-binding -->

<div class="row">
    <div class="col-md-12">

        <!-- ######## Home Card #########-->
        <div class="card m-5">
            <div class="card-header">
                Home
            </div>
            <div class="card-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="homeName" class="control-label col-xs-4">Home Name</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-building-o"></i>
                                    </div>
                                </div>
                                <input [(ngModel)]="home.name" id="homeName" name="homeName" placeholder="My Home" type="text" required="required" class="form-control">
                            </div>
                        </div>
                    </div>
                    <!--<div *ngIf="home.name.invalid && (home.name.dirty || home.name.touched)"
                         class="alert alert-danger">

                        <div *ngIf="home.name.errors.required">
                            Home Name is required.
                        </div>
                        <div *ngIf="name.errors.minlength">
                            Name must be at least 4 characters long.
                        </div>
                        <div *ngIf="name.errors.forbiddenName">
                            Name cannot be Bob.
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label for="fullAddress" class="control-label col-xs-4">Address</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-address-card-o"></i>
                                    </div>
                                </div>

                                <input [(ngModel)]="home.fullAddress" id="fullAddress" name="fullAddress" placeholder="123 MyStreet, city, state country " required="required" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="control-label col-xs-4">City</label>
                        <div class="col-xs-8">
                            <input [(ngModel)]="home.city" id="city" name="city" type="text" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="state" class="control-label col-xs-4">State</label>
                        <div class="col-xs-8">
                            <input [(ngModel)]="home.state" id="state" name="state" type="text" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country" class="control-label col-xs-4">country</label>
                        <div class="col-xs-8">
                            <input [(ngModel)]="home.country" id="country" name="country" type="text" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-offset-4 col-xs-8">
                            <!--<button name="submit" type="submit" class="btn btn-primary">Submit</button>-->
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <!-- ######## /Home Card #########-->
        
        <div *ngIf="EndMessage" class="alert alert-danger" role="alert">
            {{EndMessage}}
        </div>
        <button class="btn btn-lg btn-success" type="button" (click)="Next()">Next <i class="fa fa-forward"></i></button>
    </div>
</div>

